.cartWitgetDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;

  &__box-icon-back {
    display: flex;
    width: 800px;
    margin-bottom: 10px;
  }

  &__icon-back {
    cursor: pointer;
  }

  &__table {
    width: 800px;
  }

  &__end-buy-box {
    display: flex;
    justify-content: flex-end;
  }

  &__empty-data-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 45px;
    font-weight: bold;
    color: #EB984E;
  }
}